.App {
  text-align: center;
  color:#f8edeb;
}

.App-header {
  background-color: #f1faee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


