.app {
  text-align: center;
  color: black;
}

/* .App-header {
  background-color: #f1faee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

img.item-img   {
  max-width: 370px;
  max-height: 200px;
  object-fit: contain;
  border-radius: 5px;
  padding: 5px;
  float: left; 
  width: 100%;
}

.none {
  margin-left: 450px;
}


.card-image img {
  width: 600px;
  height: 600px;
  object-fit: contain;
  border-radius: 5px;
  padding: 5px;
}

.card-image img:hover {
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  transform: scale(1.25) !important;
  position:relative;
  z-index:5;
}

.center {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.80rem;
}

.subheader {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.80rem;
  color: black;
}

.order {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.50rem;
  color: black;
}

.navbar-nav {
  justify-content: space-between;
  width: 100%;
}

.navbar-nav > div {
  display: flex;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.rowone {
  display: flex;
  justify-content: center;
  /* flex-direction: row; */
}

.columnone {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #8d99ae;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.contactbutton {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}


